<section class="client-say">
  <div class="container">
    <h2 class="client-say-title">What Clients Say</h2>
    <h5 class="client-say-subtitle-text">Problems trying to resolve the conflict between <br>
      the two major realms of Classical physics: Newtonian mechanics </h5>
    <ul class="client-say-list">
      <li class="client-say-item">
        <svg class="client-say-svg" width="106" height="18">
          <use href="./images/icons.svg#icon-Group-204"></use>
        </svg>
        <p class="client-say-text">Product helps you see how many 
          more days you need to work to 
          reach your financial goal.</p>
       <div class="wraper">
          <img class="client-say-images" src="./images/Ellipse women.png" width="50" height="50" alt="Ellipse women">
          <div class="box-wrapper">
            <h3 class="client-say-subtitle">Wahid Ari</h3>
            <h4 class="client-say-text-end">Designer</h4>
          </div>
       </div>
      </li>
      <li class="client-say-item">
        <svg class="client-say-svg" width="106" height="18">
          <use href="./images/icons.svg#icon-Group-204"></use>
        </svg>
        <p class="client-say-text">Product helps you see how many 
          more days you need to work to 
          reach your financial goal.</p>
       <div class="wraper">
          <img class="client-say-images" src="./images/Ellipse man.png" width="50" height="50" alt="Ellipse man">
        <div class="box-wrapper">
            <h3 class="client-say-subtitle">Wahid Ari</h3>
            <h4 class="client-say-text-end">Designer</h4>
        </div>
       </div>
      </li>
      <li class="client-say-item">
        <svg class="client-say-svg" width="106" height="18">
          <use href="./images/icons.svg#icon-Group-204"></use>
        </svg>
        <p class="client-say-text">Product helps you see how many 
          more days you need to work to 
          reach your financial goal.</p>
       <div class="wraper">
          <img class="client-say-images" src="./images/Ellipse bold man.png" width="50" height="50" alt="Ellipse bold man">
          <div class="box-wrapper">
            <h3 class="client-say-subtitle">Wahid Ari</h3>
            <h4 class="client-say-text-end">Designer</h4>
          </div>
       </div>
      </li>
    </ul>
  </div>
</section>