<section class="customer">
  <div class="container first-container">
  <div  class="left-images">
    <img class="customer-images"
      src="./images/support-img.png"
      alt="support"
      width="540"
      height="500"
    />
  </div>
 <div class="customer-rigt">
    <h2 hidden>Promo</h2>
     <h4 class="customer-subtitle">Easier decision making for</h4>
      <h3 class="customer-title">Customer Support</h3>
        <p class="customer-text second">
          The Myspace page defines the individual, his or her
          characteristics, traits, personal choices and the overall
          personality of the person.
        </p>
      <ul class="customer-list">
      <li class="customer-item"> 
        <div class="customer-item-svg-container">
        <svg class="customer-item-svg" width="17" height="12">
          <use href="./images/icons.svg#icon-tick"></use>
        </svg>
      </div>
        <p class="customer-text">Never worry about overpaying for your energy again.</p>
    </li>
      <li class="customer-item">
        <div class="customer-item-svg-container color-three">
          <svg class="customer-item-svg" width="17" height="12">
            <use href="./images/icons.svg#icon-tick"></use>
          </svg>
        </div>
        <p class="customer-text">
          We will only switch you to energy companies that we trust and will
          treat you right
        </p>
      </li>
      <li class="customer-item">
        <div class="customer-item-svg-container color-one">
          <svg class="customer-item-svg" width="17" height="12">
            <use href="./images/icons.svg#icon-tick"></use>
          </svg>
        </div>
        <p class="customer-text">We track the markets daily and know where the savings are.</p>
      </li>
    </ul>
 </div>
</div>
</section>