<section class="management">
  <div class="container first-container">
   <div class="left-side-management">
       <h2 class="management-subtitle" hidden>Promo</h2>
       <ul class="management-list">
         <li class="management-item"><h4 class="management-title first">Effortless Validation for</h4></li>
         <li class="management-item"><h3 class="management-subtitle">Management</h3></li>
         <li class="management-item">
           <p class="management-text second">
             The Myspace page defines the individual, his or her
             characteristics, traits, personal choices and the overall
             personality of the person.
           </p>
         </li>
         <li class="management-item"><h4 class="management-title">Accessory makers</h4></li>
         <li>
           <p class="management-text">
             While most people enjoy casino gambling, sports betting, lottery
             and bingo playing for the fun
           </p>
         </li>
         <li class="management-item"><h4 class="management-title">Alterationists</h4></li>
         <li class="management-item">
           <p class="management-text">
             If you are looking for a new way to promote your business that
             won’t cost you more money,
           </p>
         </li>
       </ul>
   </div>
    <div class="right-side">
       <img class="management-images"
         src="./images/management-img.png"
         alt="management"
         width="540"
         height="500"
       />
    </div>
  </div>
 </section>