<section class="our-clients">
  <div class="container our-clients-container">
    <h1 class="our-clients-title">Our Clients</h1>
    <ul class="our-clients-list">
      <li class="our-clients-item">
        <img
          class="our-clients-pictures"
          src="./images/Vector.png"
          width="159"
          height="50"
          alt="airbnb"
        />
      </li>
      <li class="our-clients-item">
        <img
          class="our-clients-pictures"
          src="./images/Google-Logo.png"
          width="146"
          height="50"
          alt="google"
        />
      </li>
      <li class="our-clients-item">
        <img
          class="our-clients-pictures"
          src="./images/Microsoft-Logo.png"
          width="213"
          height="44"
          alt="microsoft"
        />
      </li>
      <li class="our-clients-item">
        <img
          class="our-clients-pictures"
          src="./images/FedEx-Logo.png"
          width="140"
          height="42"
          alt="fedex"
        />
      </li>
    </ul>
  </div>
</section>
