<section class="pricing">
  <div class="container">
  <h2 class="pricing-subtitle">PRICING</h2>
  <h1 class="pricing-title">Let’s get some real work done here.</h1>
  <p class="pricing-text">
    Prodict is your perfect solution for working. Get started now for free
  </p>
  <ul class="price-tible-list">
    <li class="price-tible-item"><h3 class="price-tible-subtitle">Free</h3>
    <p class="price-table-text fourth">Brief price description</p>
<h4 class="price-table-subtitle-text"> <span class="price-table-span">0</span> Per / month</h4>
<ul class="price-tible-second-list">
<li class="price-tible-item fifth">
  <a class="price-table-link" href="http://">Only 2 Operators</a></li>
<li class="price-tible-item fifth"><a class="price-table-link" href="http://">Notifications</a></li>
<li class="price-tible-item fifth"><a class="price-table-link" href="http://">
  Landing Pages</a></li>
</ul>
<button type="button" class="price-title-button">Order Now</button>
</li>
<li class="price-tible-item current"><h3 class="price-tible-subtitle six">Standard</h3>
<p class="price-table-text fourth  six">Brief price description</p>
<h4 class="price-table-subtitle-text"> <span class="price-table-span six">5</span> Per / month</h4>
<ul class="price-tible-second-list">
<li class="price-tible-item fifth current"><a class="price-table-link six" href="http://">
5+ Operators</a></li>
<li class="price-tible-item fifth current"><a class="price-table-link six" href="http://">
Notifications</a></li>
<li class="price-tible-item fifth current"><a class="price-table-link six" href="http://">
Landing Pages</a></li>
</ul>
<button type="button" class="price-title-button seven">Order Now</button>
</li>
<li class="price-tible-item">
  <h3 class="price-tible-subtitle">Premium</h3>
  <p class="price-table-text fourth">Brief price description</p>
  <h4 class="price-table-subtitle-text"> <span class="price-table-span">10</span> Per / month</h4>
  <ul class="price-tible-second-list">
    <li class="price-tible-item fifth"><a class="price-table-link" href="http://">
      10+ Operators</a></li>
    <li class="price-tible-item fifth"><a class="price-table-link" href="http://">
      Notifications</a></li>
    <li class="price-tible-item fifth"><a class="price-table-link" href="http://">
      Landing Pages</a></li>
  </ul>
<button type="button" class="price-title-button">Order Now</button>
</li>
</ul>
</section>