<section class="process">
  <div class="container proces-container">
    <h2 class="process-title">Quick & Easy Process</h2>
    <p class="process-text">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <div class="proces-row">
      <ul class="process-list">
        <div class="proces-expert">
          <li class="process-item">
            <img
              class="process-images"
              src="./images/avatar.png"
              width="98"
              alt="beautiful women"
            />
            <h3 class="process-subtitle">I can take care of your pitch</h3>
          </li>
        </div>

        <div class="proces-expert">
          <li class="process-item">
            <h3 class="process-subtitle">I can prototype your app</h3>
            <img
              class="process-images"
              src="./images/avatar-3.png"
              width="98"
              alt="boy with camera"
            />
          </li>
        </div>

        <div class="proces-expert">
          <li class="process-item">
            <h3 class="process-subtitle">I can take care of your pitch</h3>
            <img
              class="process-images"
              src="./images/avatar-1.png"
              width="98"
              alt="old women"
            />
          </li>
        </div>
        <div class="proces-expert">
          <li class="process-item">
            <img
              class="process-images"
              src="./images/avatar-2.png"
              width="98"
              alt="bold man"
            />
            <h3 class="process-subtitle">I can help marketing strategy</h3>
          </li>
        </div>
      </ul>
    </div>
    <button class="process-button" type="button">Contact our expert</button>
  </div>
</section>
