<section class="product">
  <div class="container">
    <h2 class="product-subtitle">
      Product was Built Specifically <br />
      for You
    </h2>
    <div class="product-container">
      <ul class="product-list">
        <li class="product-item">
          <div class="product-item-svg-container">
            <svg class="product-item-svg" width="16" height="18">
              <use href="./images/icons.svg#icon-2"></use>
            </svg>
          </div>
          <h3 class="product-section-title">First click tests</h3>
          <p class="product-text">While most people enjoy casino gambling,</p>
        </li>
        <li class="product-item">
          <div class="product-item-svg-container color-one">
            <svg class="product-item-svg" width="18" height="18">
              <use href="./images/icons.svg#icon-1"></use>
            </svg>
          </div>
          <h3 class="product-section-title">Design surveys</h3>
          <p class="product-text">
            Sports betting, lottery and bingo playing for the fun
          </p>
        </li>
        <li class="product-item">
          <div class="product-item-svg-container color-two">
            <svg class="product-item-svg" width="16" height="18">
              <use href="./images/icons.svg#icon-untitled"></use>
            </svg>
          </div>
          <h3 class="product-section-title">Preference tests</h3>
          <p class="product-text">The Myspace page defines the individual.</p>
        </li>
        <li class="product-item">
          <div class="product-item-svg-container color-three">
            <svg class="product-item-svg" width="16" height="18">
              <use href="./images/icons.svg#icon-3"></use>
            </svg>
          </div>
          <h3 class="product-section-title">Five second tests</h3>
          <p class="product-text">
            Personal choices and the overall personality of the person.
          </p>
        </li>
      </ul>
    </div>
    <button class="product-button" type="button">SIGN UP NOW</button>
  </div>
</section>
