<section class="product-work">
  <div class="container product-work-container">
    <h2 class="product-work-subtitle">How Product Work?</h2>
    <ul class="product-work-list">
      <li class="product-work-item">
        <img
          class="product-work-pictures"
          src="./images/mac1.png"
          width="500"
          height="279"
          alt="macos1"
        />
        <div class="right-wrap">
          <h4 class="product-work-step">STEP 1</h4>
          <h3 class="product-work-sub">Apply for a product</h3>
          <p class="product-work-text">
            Completing our easy step-by-step application form <br />
            gives you access to multiple business with multiple <br />
            products. We analyse your business through our <br />
            proprietary credit analysis technology
          </p>
        </div>
      </li>
      <li class="product-work-item">
        <div class="left-wrap">
          <h4 class="product-work-step">STEP 2</h4>
          <h3 class="product-work-sub">Pay fully refundable</h3>
          <p class="product-work-text">
            Product will contactting you instantly to receive payment of the
            Application Fee. if no offer of product is available, your fee will
            be fully refunded.
          </p>
        </div>
        <img
          class="product-work-pictures"
          src="./images/mac2.png"
          width="500"
          height="280"
          alt="macos2"
        />
      </li>
      <li class="product-work-item">
        <img
          class="product-work-pictures"
          src="./images/mac3.png"
          width="500"
          height="280"
          alt="macos3"
        />
        <div class="right-wrap">
          <h4 class="product-work-step">STEP 3</h4>
          <h3 class="product-work-sub">Completion</h3>
          <p class="product-work-text">
            Product will continue to liase between borrower and manager to
            procees and complete a quick and <br />
            efficient settlement
          </p>
        </div>
      </li>
    </ul>
    <button class="product-work-button" type="button">
      Get in touch with us
    </button>
  </div>
</section>
