<section class="received-offers">
  <div class="container received-offers-container">
      <h2 class="received-offers-title">Join thousand of other who have already received offers</h2>
      <ul class="received-offers-list">
        <li class="received-offers-item">
          <img class="received-offers-pictures"
            src="./images/Image Placeholder.png"
            width="150"
            height="150"
            alt="placeholder"
          />
          <h3 class="received-offers-subtitle">Business</h3>
          <p class="received-offers-text">Cash Flow <br> Asset Backed <br> Receivables Finance</p>
          <h4 class="received-offers-sub">Find the best business product</h4>
        </li>
        <li class="received-offers-item">
          <img class="received-offers-pictures"
            src="./images/Image Placeholder-2.png"
            width="150"
            height="150"
            alt="placeholder2"
          />
          <h3 class="received-offers-subtitle">Enterprise</h3>
          <p class="received-offers-text">Site Acquisition <br> Bridge <br> Development Financing</p>
          <h4 class="received-offers-sub">Find the best business product</h4>
        </li>
      </ul>
  </div>
  </section>
