<section class="work">
  <div class="container first-container">
    <div class="left-side">
      <h1 class="work-subtitle">Work at the speed of thought</h1>
      <p class="work-text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <ul class="work-list">
        <li class="work-button-item">
          <button class="work-button" type="button">Get started</button>
        </li>
        <li class="work-button-item">
          <button class="work-button watch" type="button">
            <svg class="work-button-svg" width="16" height="18">
              <use href="./images/icons.svg#icon-Triangle-Copy-6"></use>
            </svg>
            Watch the Video
          </button>
        </li>
      </ul>
    </div>
    <div class="right">
      <img
        class="work-img"
        src="./images/hero-img.png"
        width="610"
        height="555"
        alt="people in work"
      />
    </div>
  </div>
</section>
