.client-say {
  padding-top: 50px;
  padding-bottom: 100px;
}

.client-say-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
}
.client-say-subtitle-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
  margin-bottom: 40px;
}

.client-say-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin-bottom: 16px;
}
.client-say-text-end {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: #252b42;
}

.wraper {
  width: 145px;
  display: flex;
  flex-wrap: wrap;
}

.box-wrapper {
  margin-left: 14px;
}

.client-say-list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  width: calc(100% (2 * 64px) / 3);
}
.client-say-item {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 30px 35px;
  width: 327px;
  height: 240px;
}
.client-say-svg {
  fill: #f3cd03;
  margin-bottom: 16px;
}
.client-say-images {
}
.client-say-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}